/* App.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {
    background-color: #0a0a23; /* 헤더 배경색 */
    color: white;
    padding: 20px;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .content {
    background-color: #fff9d9; /* 연한 노란색 배경 */
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content h1 {
    color: black;
  }
  