/* index.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(220, 234, 255);
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #0a0a23; /* 헤더 배경색 */
    color: white;
    padding: 0 20px;
    width: 100%;
  }

  .header img{
    width: 40px;
    height: auto;

  }
  .header h1 {
    margin: 0;
    text-align: center;
  }
  
  .content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content h1 {
    color: black;
  }
  